.likes-container {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 2px;
    justify-content: center;
}

.likes-display {
    margin-right: 10px;
}

.like-button {
    width: 100px;
}