.albums-display-container {
    width: 800px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 8px 8px #000000a7;
    padding: 20px;
    background-color: #282828;
}

.albums-container {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;
}
.card {
    max-width: 250px;
    margin: 10px;
}